# Python artifacts
__pycache__/
*.pyc

# Virtual envs
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Big binary outputs
*.pkl
*.hdf5
*.npz
*.npy

# Logs/text files
*.out
*.txt

# Local data
data/
cache/
figures/


nanograv_pulsars_cache.pkl
tempo2_runtime.tar.gz
data/2026-02-17/pessimistic/optimal_snr_population.json
logs/
runs/
old_successful_run_logs/
psars_narrowband/
previous_run_old_configurations/
